@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,600);
/* icon fonts */
@font-face {
  font-family: 'icommom';
  src: url('icomoom.eot');
  src: url('icomoom.eot?#iefix') format('embedded-opentype'), url('icomoom.woff') format('woff'), url('icomoom.ttf') format('truetype'), url('icomoom.svg#icomoom') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: #666;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #ececec;
  overflow-x: hidden;
}
a {
  color: #3b78e7;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1a5cd5;
  text-decoration: underline;
}
a:visited {
  color: #0f357a;
}
h1,
h2 {
  margin: 0;
  font-weight: 300;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-weight: normal;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 1.4;
}
.shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.cover {
  background-size: cover;
  background-position: center center;
}
.page-wrapper {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
}
.intro header {
  text-align: center;
  padding: 50px 0 110px;
  color: #fff;
  background: #3b78e7;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center center;
}
.intro header h2 {
  color: #ececec;
  position: relative;
}
.intro header h2:before {
  content: "";
  width: 50px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -25px;
  border-bottom: 2px solid #ECECEC;
}
.design-archives {
  position: absolute;
  top: 204px;
  left: 0%;
  right: 0%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.design-archives:hover {
  background: rgba(0, 0, 0, 0.5);
}
.design-archives h3 {
  display: none;
}
.design-archives ul {
  padding: 0;
}
.design-archives ul li {
  list-style: none;
  display: block;
  text-align: center;
}
.design-archives ul li.next a,
.design-archives ul li.previous a {
  position: absolute;
  top: 0;
  background: #1c282e;
  padding: 14px;
  line-height: 1.48;
}
.design-archives ul li.next a:hover,
.design-archives ul li.previous a:hover {
  background: #090c0e;
}
.design-archives ul li.previous a {
  left: 0;
}
.design-archives ul li.next a {
  right: 0;
}
.design-archives ul li.viewall {
  text-align: center;
  text-transform: uppercase;
}
.design-archives ul li a {
  color: #fff;
  text-decoration: none;
}
.design-archives ul li a:before {
  position: absolute;
}
.summary {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  padding: 30px 0;
  color: #fff;
  background: #3b78e7;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.summary p {
  width: 85%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.summary p:first-child {
  margin-bottom: 10px;
  font-size: 15px;
}
.summary p a {
  padding: 5px 8px;
  padding-left: 30px;
  color: #fff;
  background: #1c282e;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
}
.summary p a:hover,
.summary p a:focus {
  background: #090c0e;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.summary p a:before {
  content: "D";
  font-family: "icommom";
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  line-height: 1.4;
  position: absolute;
  top: 4px;
  left: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.preamble {
  padding: 30px 50px;
  margin-left: 330px;
  position: relative;
}
.preamble:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 15px;
  left: 30px;
  background: #fff;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.zen-resources {
  width: 300px;
  padding: 10px 15px;
  background: #dedede;
  box-shadow: inset -5px 0 15px -6px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 370px;
  border-radius: 2px;
}
.zen-resources h3 {
  display: none;
}
.zen-resources ul {
  padding: 0;
}
.zen-resources ul li {
  list-style: none;
}
.zen-resources ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 0px;
  font-size: 18px;
  color: #888;
}
.zen-resources ul li a:hover,
.zen-resources ul li a:focus {
  color: #3b78e7;
}
.zen-resources ul li:nth-child(2) a:hover,
.zen-resources ul li:nth-child(2) a:focus {
  color: #9c27b0;
}
.zen-resources ul li:nth-child(3) a:hover,
.zen-resources ul li:nth-child(2) a:focus {
  color: #e91e63;
}
.zen-resources ul li:nth-child(4) a:hover,
.zen-resources ul li:nth-child(2) a:focus {
  color: #f44336;
}
.zen-resources ul li:nth-child(5) a:hover,
.zen-resources ul li:nth-child(2) a:focus {
  color: #ff5722;
}
.explanation,
.participation {
  margin-top: 20px;
  padding: 30px 50px;
  margin-right: 330px;
  position: relative;
}
.explanation:before,
.participation:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 15px;
  left: 30px;
  background: #fff;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.participation {
  margin-top: 10px;
}
.design-selection {
  width: 300px;
  padding: 10px 15px;
  background: #dedede;
  box-shadow: inset 5px 0 15px -6px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 675px;
  border-radius: 2px;
}
.design-selection ul {
  padding: 0;
}
.design-selection ul li {
  list-style: none;
  padding: 12px 15px;
}
.design-selection ul li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #1c282e;
}
.design-selection ul li a:hover,
.design-selection ul li a:focus {
  color: #3b78e7;
}
.design-selection ul li .design-name {
  display: block;
  color: #888;
}
.design-selection ul li .designer-name {
  text-transform: none;
}
.benefits {
  color: #fff;
  font-weight: 300;
  margin-top: 16px;
  padding: 50px 15px 60px;
  background: url(../img/header1.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background: #3b78e7;
  text-align: center;
}
.benefits p {
  width: 85%;
  margin: 0 auto;
}
.requirements {
  padding: 20px 0;
  width: 85%;
  margin: 0 auto;
}
.requirements p:last-child {
  margin-top: 30px;
  text-align: center;
  font-size: 1.3em;
}
footer {
  background: #1c282e;
  padding: 30px 15px;
  text-align: center;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.7);
}
footer a {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 5px 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none !important;
  position: relative;
  padding-top: 60px;
  color: #ccc;
}
footer a:before {
  font-family: "icommom";
  font-size: 50px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -26px;
}
footer a.zen-validate-html:before {
  content: "5";
}
footer a.zen-validate-css:before {
  content: "3";
}
footer a.zen-license:before {
  content: "c";
}
footer a.zen-accessibility:before {
  content: "a";
}
footer a.zen-github:before {
  content: "g";
}
@media (max-width: 1246px) {
  .design-selection {
    top: 715px;
  }
}
@media (max-width: 1040px) {
  .design-selection {
    top: 790px;
  }
  .design-selection ul li {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .explanation {
    margin-top: -10px;
  }
  .zen-resources {
    top: 390px;
  }
}
@media (max-width: 860px) {
  .design-selection,
  .zen-resources {
    position: relative;
    top: 0px;
    width: auto;
    border-radius: 0;
  }
  .design-selection ul li,
  .zen-resources ul li {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }
  .zen-resources {
    background: #1c282e;
  }
  .zen-resources h3 {
    display: block;
  }
  .zen-resources ul li {
    padding-left: 20px;
  }
  .explanation,
  .participation {
    margin-right: 0;
    padding: 30px 40px;
  }
  .explanation:before,
  .participation:before {
    left: 20px;
    right: 20px;
  }
  .preamble {
    margin-left: 0;
    padding: 30px 40px;
  }
  .preamble:before {
    left: 20px;
    right: 20px;
  }
  .participation {
    margin-top: -10px;
  }
}
@media (max-width: 420px) {
  .design-selection ul li,
  .zen-resources ul li {
    width: 95%;
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .design-archives {
    top: 182px;
  }
  .design-archives ul li.next a,
  .design-archives ul li.previous a {
    text-indent: -9999px;
    width: 25px;
    opacity: 0.7;
  }
  .design-archives ul li.next:before,
  .design-archives ul li.previous:before {
    font-family: "icommom";
    color: #fff;
    position: absolute;
    z-index: -1;
    font-size: 22px;
    top: 12px;
  }
  .design-archives ul li.previous:before {
    content: "<";
    left: 15px;
  }
  .design-archives ul li.next:before {
    content: ">";
    right: 15px;
  }
}
