/* icon fonts */
@font-face {
	font-family: 'icommom';
	src:url('icomoom.eot');
	src:url('icomoom.eot?#iefix') format('embedded-opentype'),
		url('icomoom.woff') format('woff'),
		url('icomoom.ttf') format('truetype'),
		url('icomoom.svg#icomoom') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,600);
@primary: #3B78E7;
@second: #1c282e;
@gris: #ECECEC;
@sidebar: #dedede;

html,body{
	margin: 0;
	padding: 0;
}
body{
	color: #666;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background: @gris;
	overflow-x: hidden;
}
a {
  color: @primary;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
  &:hover, &:focus {
    color: darken(@primary, 10%);
    text-decoration: underline;
  }
  &:visited {
    color: darken(@primary, 30%);
  }
}
h1, h2{
  margin: 0;
  font-weight: 300;
}
h1{
	font-size: 55px;
}
h2{
	font-size: 24px;
}
h3{
	font-weight: normal;
	text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 1.4;
}

// css custom gen
.shadow{
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.cover{
	background-size: cover;
	background-position: center center;
}
.page-wrapper{
	position: relative;
	max-width: 1360px;
	margin: 0 auto;
}

.intro{
	header{
		text-align: center;
		padding: 50px 0 110px;
		color: #fff;
		background: @primary;
		background-image: url(../img/header.jpg);
		.cover();
		h2{
			color: #ececec;
			position: relative;
			&:before{
				content: "";
				width: 50px;
				position: absolute;
				bottom: -15px;
				left: 50%;
				margin-left: -25px;
				border-bottom: 2px solid #ECECEC;
			}
		}
	}
}

.design-archives{
	position: absolute;
	top: 204px;
	left: 0%;
	right: 0%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	.shadow();
	&:hover{
		background: rgba(0, 0, 0, 0.5);
	}
	h3{
		display: none;
	}
	ul{
		// position: relative;
		padding: 0;
		li{
			list-style: none;
			display: block;
			text-align: center;
			&.next,&.previous{
				// text-indent: -9999px;
				a{
					position: absolute;

					top: 0;
					background: @second;
					padding: 14px;
					line-height: 1.48;
					&:hover{
						background: darken(@second, 10%);
					}
				}
			}
			&.previous{
				a{
					left: 0;
				}
				
			}
			&.next{
				a{
					right: 0;
				}
			}
			&.viewall{
				text-align: center;
				text-transform: uppercase;
			}
			a{
				color: #fff;
				text-decoration: none;
				&:before{
					    position: absolute;
				}
			}
		}
	}
}

.summary{
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	padding: 30px 0;
	color: #fff;
	background: @primary;
	position: relative;
	z-index: 99;
	.shadow();
	p{
		width: 85%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		&:first-child{
			margin-bottom: 10px;
			font-size: 15px;
		}
		a{
			padding: 5px 8px;
			padding-left: 30px;
			color: #fff;
			background: @second;
			text-decoration: none;
			border-radius: 3px;
			position: relative;
			text-transform: uppercase;
			font-size: 16px;
			display: inline-block;
			&:hover,&:focus{
				background: darken(@second, 10%);
				.shadow();
			}
			&:before{
				content: "D";
				font-family: "icommom";
				font-size: 16px;
				width: 20px;
				height: 20px;
				border-radius: 2px;
				line-height: 1.4;
				position: absolute;
				top: 4px;
				left: 5px;
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}


.preamble{
	padding: 30px 50px;
	margin-left: 330px;
	// height: 400px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 15px;
		left: 30px;
		background: #fff;
		border-radius: 2px;
		z-index: -1;
		.shadow();
	}
}
.zen-resources{
	width: 300px;
	// height: 400px;
	padding: 10px 15px;
	background: @sidebar;
	box-shadow: inset -5px 0 15px -6px  rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	top: 370px;
	border-radius: 2px;
	h3{
		display: none;
	}
	ul{
		padding: 0;
		li{
			list-style: none;
			// padding: 20px 0;
			// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			&:first-child{
				// border-top: 1px solid rgba(0, 0, 0, 0.1);
			}
			a{
				display: block;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 500;
				padding: 15px 0px;
				font-size: 18px;
				color: #888;
				&:hover,&:focus{
					color: @primary;
				}
			}
			
			&:nth-child(2) a:hover,&:nth-child(2) a:focus{
				color: #9c27b0;
			}
			
			&:nth-child(3) a:hover,&:nth-child(2) a:focus{
				color: #e91e63;
			}
			&:nth-child(4) a:hover,&:nth-child(2) a:focus{
				color: #f44336;
			}
			&:nth-child(5) a:hover,&:nth-child(2) a:focus{
				color: #ff5722;
			}
		}
	}
}

.explanation,.participation{
	margin-top: 20px;
	padding: 30px 50px;
	margin-right: 330px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 15px;
		left: 30px;
		background: #fff;
		border-radius: 2px;
		z-index: -1;
		.shadow();
	}
}
.participation{
	margin-top: 10px;
}

.design-selection{
	width: 300px;
	padding: 10px 15px;
	background: @sidebar;
	box-shadow: inset 5px 0 15px -6px  rgba(0, 0, 0, 0.3);
	position: absolute;
	right: 0;
	top: 675px;
	border-radius: 2px;
	h3{
		// display: none;
	}
	ul{
		padding: 0;
		li{
			list-style: none;
			padding: 12px 15px;
			a{
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 500;
				font-size: 18px;
				color: @second;
				&:hover,&:focus{
					color: @primary;
				}
			}
			.design-name{
				display: block;
				color: #888;
			}
			.designer-name{
				text-transform: none;
			}
		}
	}
}

.benefits{
	color: #fff;
	font-weight: 300;
	margin-top:16px;
	padding: 50px 15px 60px;
	background: url(../img/header1.jpg);
	.cover();
	.shadow();
	background: @primary;
	text-align: center;
	p{
		width: 85%;
		margin: 0 auto;
	}
}
.requirements{
	padding: 20px 0;
	width: 85%;
	margin: 0 auto;
	p:last-child{
		margin-top: 30px;
		text-align: center;
		font-size: 1.3em;
	}
}


footer{
	background: @second;	
	padding: 30px 15px;
	text-align: center;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.7);
	a{
		display: inline-block;
		font-size: 18px;
		text-align: center;
		padding: 5px 15px;
		margin-left: 5px;
		margin-right: 5px;
		text-decoration: none !important;
		position: relative;
		padding-top: 60px;
		color: #ccc;
		&:before{
			font-family: "icommom";
			font-size: 50px;
			position: absolute;
			top: 0px;
			left: 50%;
			margin-left: -26px;
		}
		&.zen-validate-html:before{
			content: "5";
		}
		&.zen-validate-css:before{
			content: "3";
		}
		&.zen-license:before{
			content: "c";
		}
		&.zen-accessibility:before{
			content: "a";
		}
		&.zen-github:before{
			content: "g";
		}
	}
}

@media (max-width: 1246px) {
	.design-selection{
		top: 715px;
	}
}
@media (max-width: 1040px) {
	.design-selection{
		top: 790px;
		ul li{
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}
	.explanation{
		margin-top: -10px;
	}
	.zen-resources{
		top: 390px;
	}
}

@media (max-width: 860px) {
	.design-selection,.zen-resources{
		position: relative;
		top: 0px;
		width: auto;
		border-radius: 0;
		ul{
			li{
				width: 40%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.zen-resources{
		background: @second;
		h3{
			display: block;
		}
		ul{
			li{
				padding-left: 20px;
			}
		}
	}
	.explanation,.participation{
		margin-right: 0;
		padding: 30px 40px;
		&:before{
			left: 20px;
			right: 20px;
		}
	}
	.preamble{
		margin-left: 0;
		padding: 30px 40px;
		&:before{
			left: 20px;
			right: 20px;
		}
	}
	.participation{
		margin-top: -10px;
	}
}
@media (max-width: 420px) {
	.design-selection,.zen-resources{
		ul{
			li{
				width: 95%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 20px;
	}
	.design-archives{
		top: 182px;
		ul li{
			&.next,&.previous{
				a{
					text-indent: -9999px;
					width: 25px;
					opacity: 0.7;
				}
				&:before{
					font-family: "icommom";
					color: #fff;
					position: absolute;
					z-index: -1;
					font-size: 22px;
					top: 12px;
				}
			}
			&.previous{
				&:before{
					content: "<";
					left: 15px;
				}
			}
			&.next{
				&:before{
					content: ">";
					right: 15px;
				}
			}

		}
	}
}